version: "3.9"
services:
  web:
    # image: $DOCKER_USERNAME/notepad-app:$DOCKER_IMAGE_TAG
    image: pbaloriya/notepad-app:v1.0
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: unless-stopped